<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/fine.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>


    <!--    <script src="https://cdn.tailwindcss.com"></script>-->

    <!--    <link rel="stylesheet" href="/css/fine.css" type="text/css"/>-->
    <!--<script type="text/javascript" src="js/jquery.js"></script>-->

    <title>区块链性能测量结果</title>
</head>


<body>

<div class="container-fluid d-flex justify-content-between align-items-center"
     style="background:linear-gradient(135deg, rgba(102, 149, 212, 0.8), rgba(41, 234, 196, 0.8)) ;min-height: 100vh;">
    <div class="page-bg justify-content-center align-items-center">
        <div class="row position-relative d-flex flex-row justify-content-between align-items-center"
             style="height: 100%; width: 100%;">
            <div class="panel-left d-flex flex-column justify-content-center align-items-center bg-light col-3">
                <!--开关部分-->
                <div class="input-group" style="margin-bottom: 15px;">
                    <input type="text" class="form-control" placeholder="输入操作节点IP地址">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button">提交</button>
                    </div>
                </div>

                <div class="d-flex flex-column align-items-start panel-switch">
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="All">
                        <label class="form-check-label" for="All">All</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="block_commit_duration_end">
                        <label class="form-check-label"
                               for="block_commit_duration_end">block_commit_duration_end</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value=""
                               id="block_commit_duration_start">
                        <label class="form-check-label"
                               for="block_commit_duration_start">block_commit_duration_start</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="block_tx_conflict_rate">
                        <label class="form-check-label" for="block_tx_conflict_rate">block_tx_conflict_rate</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value=""
                               id="block_validation_efficiency">
                        <label class="form-check-label"
                               for="block_validation_efficiency">block_validation_efficiency</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="consensus_pbft_cost">
                        <label class="form-check-label" for="consensus_pbft_cost">consensus_pbft_cost</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="consensus_raft_cost">
                        <label class="form-check-label" for="consensus_raft_cost">consensus_raft_cost</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="contract_time">
                        <label class="form-check-label" for="contract_time">contract_time</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="db_state_read_rate">
                        <label class="form-check-label" for="db_state_read_rate">db_state_read_rate</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="db_state_write_rate">
                        <label class="form-check-label" for="db_state_write_rate">db_state_write_rate</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value=""
                               id="net_p2p_transmission_latency">
                        <label class="form-check-label"
                               for="net_p2p_transmission_latency">net_p2p_transmission_latency</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="peer_message_throughput">
                        <label class="form-check-label" for="peer_message_throughput">peer_message_throughput</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value=""
                               id="transaction_pool_input_throughput">
                        <label class="form-check-label" for="transaction_pool_input_throughput">transaction_pool_input_throughput</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="tx_delay_end">
                        <label class="form-check-label" for="tx_delay_end">tx_delay_end</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="tx_delay_start">
                        <label class="form-check-label" for="tx_delay_start">tx_delay_start</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="tx_in_block_tps">
                        <label class="form-check-label" for="tx_in_block_tps">tx_in_block_tps</label>
                    </div>
                    <div class="form-check panel-form">
                        <input class="form-check-input" checked type="checkbox" value="" id="tx_queue_delay">
                        <label class="form-check-label" for="tx_queue_delay">tx_queue_delay</label>
                    </div>


                </div>

            </div>
            <div class="panel-right col-9">
                <div class="col d-flex flex-column justify-content-center align-items-center ">
                    <aside class="" style="width: 100%;">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light edit-nav">
                            <a class="navbar-brand" href="#">
                                <img src="images/fisco_logo.svg" width="40" height="40" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavDropdown">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                                            网络层
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/PeerMessageThroughput">节点收发消息总量</a>
                                            <a class="dropdown-item" href="/NetP2PTransmissionLatency">P2P网络平均传输时延</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                                            数据层
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/DBStateWriteRate">数据库写入速率</a>
                                            <a class="dropdown-item" href="#">数据库读取速率</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                                            共识层
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">每轮PBFT共识耗时</a>
                                            <a class="dropdown-item" href="#">每轮Raft共识耗时</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                                            合约层
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ContractTime">合约执行时间</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                                            交易生命周期
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">交易延迟</a>
                                            <a class="dropdown-item" href="#">交易排队时延</a>
                                            <a class="dropdown-item" href="#">交易池输入通量</a>
                                            <a class="dropdown-item" href="#">出块耗时</a>
                                            <a class="dropdown-item" href="#">块内交易吞吐量</a>
                                            <a class="dropdown-item" href="#">块内交易冲突率</a>
                                            <a class="dropdown-item" href="#">区块验证效率</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--记录文件夹-->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入记录文件夹路径">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-info" type="button">确认</button>
                                </div>
                            </div>
                        </nav>
                    </aside>
                    <div class="d-flex flex-column justify-content-center align-items-center panel-show"
                         id="chart-show">
                        {% block chart_div %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block chart_script %}
{% endblock %}

</body>
</html>
