<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/fine.css" type="text/css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/loading.js"></script>

    <title>机器学习大作业</title>
</head>


<body>

<!--这是一个动态的粒子效果图，设置了透明度为0.2-->
<div class="canvas" style="opacity: 0.9">
    <iframe frameborder="0" src="/js/index.html" style="width: 100%; height: 100%"></iframe>
</div>

<!--这是一个在正式页面加载进来之前显示的加载小动画，文字可以修改-->
<div class="loading">
    <div class="loadbox"><img src="/picture/loading.gif"> 正在加载中...</div>
</div>

<div class="head">

    <h1>基于多种ML方法的MNIST手写数字识别平台</h1>

    <div class="time">
        <span id="showTime"></span>
    </div>

    <script type="text/javascript" src="/js/showtime.js"></script>

</div>

<div class="mainbox">
    <ul class="clearfix">

        <!--        第1栏 -->
        <li>
            <div class="boxall" style="height: 880px;width: 630px;display: flex;flex-direction: column;">
                <div style="display: flex;flex-direction: row;justify-content:space-around;">
                    <button class="sub_button" id="btn-train-svm">训练SVM模型</button>
                    <button class="sub_button" id="btn-train-knn">训练KNN模型</button>
                    <button class="sub_button" id="btn-train-lr">训练L R模型</button>
                    <button class="sub_button" id="btn-train-nb">训练N B模型</button>
                </div>
                <div class="summary_card">
                    <div id="model_summary" style="color:white;margin: 10px;">模型训练中，请稍后...</div>
                </div>
            </div>
        </li>

        <!--        第2栏 -->
        <li style="width: 10%;">
            <div class="map">
                <!--                lbx 三角形组成的网 -->
                <div class="map1"><img src="/picture/lbx.png"></div>
                <!--                jt 围绕着地球旋转的一个光环 -->
                <div class="map2"><img src="/picture/jt.png"></div>
                <!--                map 是一个小地球 -->
                <div class="map3"><img src="/picture/map.png"></div>
            </div>
        </li>

        <!--        第3栏-->
        <li style="width: 45%">
            <div class="boxall"
                 style="height: 880px;width: 630px;display: flex;flex-direction: column;align-items: center;margin-left:120px;">
                <!--三个的准确率-->
                <div class="test_card">
                    <div>
                        <button class="test_button" id="btn-test">在整个测试集上测试模型</button>
                    </div>
                    <div>
                        <table class="test_table">
                        <thead>
                          <tr>
                            <th style="width: 80%">模型<br>Model</th>
                            <th colspan="2">准确率<br>Accuracy</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>支持向量机</td>
                            <td id="acc-svm">NaN</td>
                            <td>%</td>
                          </tr>
                          <tr>
                            <td>K近邻</td>
                            <td id="acc-knn">NaN</td>
                            <td>%</td>
                          </tr>
                          <tr>
                            <td>逻辑回归</td>
                            <td id="acc-lr">NaN</td>
                            <td>%</td>
                          </tr>
                          <tr>
                            <td>朴素贝叶斯</td>
                            <td id="acc-nb">NaN</td>
                            <td>%</td>
                          </tr>
                        </tbody>
                        </table>

                    </div>

                </div>
                <!--随机显示一张图片并分别显示预测结果-->
                <div class="test_card">
                    <div>
                        <button class="test_button" id="btn-test-one">随机测试图片</button>
                    </div>

                    <div style="display: flex;flex-direction: row;justify-content: center;">
                        <div id="test-fig" style="width:220px;height: 220px;">
                            <img/>
                        </div>
                        <table class="test_table">
                            <thead>
                              <tr>
                                <th style="width: 50%">模型</th>
                                <th style="width: 50%">预测结果</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>支持向量机</td>
                                <td id="pred-svm">NaN</td>
                              </tr>
                              <tr>
                                <td>K近邻</td>
                                <td id="pred-knn">NaN</td>
                              </tr>
                              <tr>
                                <td>逻辑回归</td>
                                <td id="pred-lr">NaN</td>
                              </tr>
                              <tr>
                                <td>朴素贝叶斯</td>
                                <td id="pred-nb">NaN</td>
                              </tr>
                            </tbody>
                            </table>

                    </div>

                </div>

            </div>
        </li>

    </ul>
</div>
<div class="back"></div>

<script>
    $(function () {
        $("#btn-train-svm").click(function (){
            console.log("train lr start...")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/trainsvm",
                success:function (data){
                    console.log("train svm...")
                    $('#model_summary').html(data);
                }
            })
        });

        $("#btn-train-lr").click(function (){
            console.log("train lr start...")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/trainlr",
                success:function (data){
                    console.log("train lr...")
                    $('#model_summary').html(data);
                }
            })
        });

        $("#btn-train-knn").click(function (){
            console.log("train knn start...")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/trainknn",
                success:function (data){
                    console.log("train lr...")
                    $('#model_summary').html(data);
                }
            })
        });

        $("#btn-train-nb").click(function (){
            console.log("train nb start...")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/trainnb",
                success:function (data){
                    console.log("train lr...")
                    $('#model_summary').html(data);
                }
            })
        });

        $("#btn-test").click(function (){
            console.log("test all")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/testall",
                success:function (data){
                    console.log("test success")
                    $('#acc-svm').html(data[0]);
                    $('#acc-knn').html(data[1]);
                    $('#acc-lr').html(data[2]);
                    $('#acc-nb').html(data[3]);
                }
            })
        });

         $("#btn-test-one").click(function (){
            console.log("test one")
            $.ajax({
                type:"POST",
                url:"http://127.0.0.1:5000/testone",
                success:function (data){
                    // test-fig中显示resource中的图片
                    {#$("#test-fig").html("");#}
                    {#$("#test-fig").html("<img src='/models/test_one.png'/>");#}
                    {#    // .attr("src", "/models/test_one.png");#}
                    $("#test-fig img").attr("src","data:image/png;base64,"+data['image'])
                    console.log("test one success")
                    $('#pred-svm').html(data['pred'][0]);
                    $('#pred-knn').html(data['pred'][1]);
                    $('#pred-lr').html(data['pred'][2]);
                    $('#pred-nb').html(data['pred'][3]);
                }
            })
        });
    });

</script>
</body>
</html>
